{% extends 'base.html.twig' %}

{% block title %}Add new credential{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <h1>Add new website credential</h1>

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.website) }}
                {{ form_errors(form.website) }}
                {{ form_widget(form.website, {'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.scope) }}
                {{ form_errors(form.scope) }}
                {{ form_widget(form.scope, {'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.environment) }}
                {{ form_errors(form.environment) }}
                {{ form_widget(form.environment, {'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.loginUrl) }}
                {{ form_errors(form.loginUrl) }}
                {{ form_widget(form.loginUrl, {'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_errors(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.ftpIp) }}
                {{ form_errors(form.ftpIp) }}
                {{ form_widget(form.ftpIp, {'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.ftpUsername) }}
                {{ form_errors(form.ftpUsername) }}
                {{ form_widget(form.ftpUsername, {'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(form.ftpPassword) }}
                {{ form_errors(form.ftpPassword) }}
                {{ form_widget(form.ftpPassword, {'attr': {'class': 'form-control'} }) }}
            </div>


            <div class="">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>

            {{ form_end(form) }}

        </div>

        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}