{% extends 'base.html.twig' %}
{% block title %}Clients{% endblock %}

    {% block body %}

        <div class="row">
            <div class="col-xs-3"><h1>All Clients</h1></div>
            <div class="col-xs-2"><a class="btn btn-default" href="{{ path('add_new_client') }}" role="button">Add new</a></div>
            <div class="col-xs-7"></div>
        </div>
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> {{ flash_message }}
            </div>
        {% endfor %}

        {% if clients is not empty %}
            <table class="table table-hover">
                <thead>
            <tr>
                <th>Client Name</th>
                <th>Email</th>
                <th>Phone </th>
                <th>Domains</th>
                <th>Notification</th>
                <th>Actions</th>
            </tr>
        </thead>
            {% for client in clients %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone }}</td>
                    <td><a href="{{ path('view_client', {'id': client.id}) }}" role="button" class="btn btn-info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>  View <span class="badge">{{ client.domains.count }}</span></a></td>
                    <td></td>
                    <td><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a></td>
                </tr>
            {% endfor %}
            </table>

        {% else %}
            <h4>No records found.</h4>
        {% endif %}
{% endblock %}