<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Clients{% endblock %}</title>
</head>
<body>
<div id="content">
    <h1>Clients:</h1>
    <a href="{{ path('add_new_client') }}">Add new client</a>
    <br>
    {% block body %}
        <table>
            <tr>
                <th>Client Name</th>
                <th>Email</th>
                <th>Phone </th>
                <th>Domains</th>
                <th>Notification</th>
            </tr>
            {% for client in clients %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone }}</td>
                    {#<td>{{ client.domains }}</td>#}
                    {#<td>{{ client.notification }}</td>#}
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
</div>
</body>
</html>