{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}


{% block body %}
<h1>Dashboard</h1>
    <div class="row">
        <div class="col-md-6">
            {#Clients & Domains Panel#}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Newest Domains <span class="badge">{{ new_domains|length }}</span></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for new_domain in new_domains|reverse|slice(0, 4) %}
                            <div class="col-md-6">
                                <div class="well well-sm">
                                    <h4><strong>{{ new_domain.domain }}</strong></h4>
                                    Renewal date: {{ new_domain.renewalDate|date("Y/M/d") }}
                                    <br>
                                    <a href="{{ path('view_domain', {'id': new_domain.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> View Domain</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Overview</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="glyphicon glyphicon-globe big-glyphicon" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-xs-8">
                                        <h3><strong>{{ domains|length }} Domains</strong></h3>
                                        {#Get how many domains have auto renew#}
                                        {% set autoRenew_count = 0 %}
                                        {% for domain in domains %}
                                            {% if domain.autoRenew %}
                                                {% set autoRenew_count = autoRenew_count + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        <strong><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> {{ autoRenew_count }} on Auto renew</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <span class="glyphicon glyphicon-user big-glyphicon"></span>
                                    </div>
                                    <div class="col-xs-8">
                                        <h3><strong>{{ clients|length }} Clients</strong></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {#Warning & Message Panel#}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Domains about to expire <span class="badge">{{ expiring_domains_arr|length }}</span></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for element in expiring_domains_arr|slice(0, 4) %}
                            <div class="col-md-6">
                                <div class="well well-sm">

                                    <h4>
                                        <strong>{{ element.domain.domain }}</strong>
                                        {% if element.domain.autoRenew %}
                                            <span class="glyphicon glyphicon-refresh auto-renew-on" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Auto Renew Active"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-refresh auto-renew-off" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Auto Renew Inactive"></span>
                                        {% endif %}
                                    </h4>
                                    Renewal date: {{ element.domain.renewalDate|date("Y/M/d") }}
                                    <br>
                                    Days left: <strong class="bg-danger">{{ element.days_left }} days</strong>
                                    <br>
                                    <a href="{{ path('view_domain', {'id': element.domain.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> View Domain</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Expired domains <span class="badge">{{ expired_domains|length }}</span></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for expired_domain in expired_domains|slice(0, 4) %}
                            <div class="col-md-6">
                                <div class="well well-sm">
                                    <h4><strong>{{ expired_domain.domain }}</strong></h4>
                                    Expired: <strong>{{ expired_domain.renewalDate|date("Y/M/d") }}</strong>
                                    <br>
                                    <a href="{{ path('view_domain', {'id': expired_domain.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> View Domain</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

