<div id="sidebar" class="col-md-2 col-lg-1">
    {% block sidebar %}

        {# Check the current page to highlight it in the sidebar#}
        {% set current_path = path( app.request.attributes.get('_route'), app.request.attributes.get('_route_params') ) %}
        {% set clients_page = '' %}
        {% set domains_page = '' %}
        {% set users_page = '' %}
        {% set websites_page = '' %}
        {% set hosting_page = '' %}

        {% if current_path == path('list_clients') or current_path == path('add_new_client') or current_path == path('add_new_client_contact')%}
            {% set clients_page = 'active' %}

        {%elseif current_path == path('add_new_domain') or current_path == path('list_domains') %}
            {% set domains_page = 'active' %}

        {% elseif current_path == path('list_users') or current_path == path('user_registration')%}
            {% set users_page = 'active' %}

        {% endif %}

        <ul class="nav nav-pills nav-stacked">

            <li class="dropdown {{ clients_page }}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clients <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url('list_clients') }}">View All Clients</a></li>
                    <li><a href="{{ url('add_new_client') }}">Add Client</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ url('add_new_client_contact') }}">Add Client Contact</a></li>
                </ul>
            </li>

            <li class="dropdown {{ domains_page }}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Domains <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url('list_domains') }}">View All Domains</a></li>
                    <li><a href="{{ url('add_new_domain') }}">Add Domain</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ url('list_all_registrars') }}">View All Registrars</a></li>
                    <li><a href="{{ url('add_new_registrar') }}">Add Registrar</a></li>
                </ul>
            </li>

            <li class="dropdown {{ websites_page }}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Websites <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url('list_websites') }}">View All Websites</a></li>
                    <li><a href="{{ url('add_new_website') }}">Add Website</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ url('add_new_website_credential') }}">Add Website Credential</a></li>
                </ul>
            </li>

            <li class="dropdown {{ hosting_page }}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hosting <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="">View All Hosting</a></li>
                    <li><a href="">Add Hosting</a></li>
                    <li role="separator" class="divider"></li>
                </ul>
            </li>

            <li class="dropdown {{ users_page }}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url('list_users') }}">View All Users</a></li>
                    <li><a href="{{ url('user_registration') }}">Add User</a></li>
                </ul>
            </li>
        </ul>
    {% endblock %}
</div>