{% extends 'base.html.twig' %}

{% block title %}Website Issues{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1>
            <span class="glyphicon glyphicon-globe med-glyphicon" aria-hidden="true"></span>
            {{ website.websiteName }} Website <i>{{ app.request.get('filter') }}</i> Issues
        </h1>
    </div>
    <div class="col-md-8">
        {% if issues is not empty %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Ticket Reference</th>
                    <th>Date Created</th>
                    <th>Status</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for issue in issues %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ issue.ticketReference }}</td>
                        <td>{{ issue.dateCreated|date }}</td>
                        <td>{{ issue.status }}</td>
                        <td>{{ issue.modifiedAt|date }}</td>
                        <td>
                            <a href="{{ url('add_issue_log', {'issue': issue.id}) }}" class="btn btn-primary">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                View Log
                                <span class="badge">{{ issue.logs|length }}</span>
                            </a>
                            <a href="{{ url('delete_issue', {'issue': issue.id}) }}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                Delete Issue
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">No Issues found</div>
        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Website Summary</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        <h4>
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                            {{ website.websiteName }}
                        </h4>
                    </li>
                    <li>
                        <h4>
                            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                            Status: {{ website.status }}
                        </h4>
                    </li>
                    <li>
                        <h4>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            {{ website.client.name }}
                        </h4>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <a href="{{ url('add_website_issue', {'website': website.id}) }}" class="btn btn-info">Add New Issue</a>
                <a href="{{ url('view_website', {'id': website.id}) }}" class="btn btn-info">View Website</a>
                <a href="{{ url('view_client', {'id': website.client.id}) }}" class="btn btn-info">View Client</a>
            </div>
        </div>
    </div>
{% endblock %}