{% extends 'base.html.twig' %}

{% block title %}View Domain{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-7">
            <h1>Domain: {{ domain.domain }}</h1>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Domain Details</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 
                                    Registrar: <a href="{{ url('edit_registrar', {'id': domain.registrar.id}) }}">{{ domain.registrar.name }}</a>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    Renewal Date: {{ domain.renewalDate|date("Y/M/d") }}
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>

                                    {% if domain.hosting %}
                                        Hosting Package: {{ domain.hosting.package.name }}
                                    {% else %}
                                        No hosting assigned yet!
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Registrar Credentials </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                                    <a href="{{ domain.registrar.url }}">Login URL</a>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    Username: {{ domain.registrar.username }}
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                    Password: {{ domain.registrar.password }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Notifications & Renewal </h3>
                        </div>
                        <div class="panel-body">

                            <ul class="list-unstyled">
                                <li>
                                    {% if domain.notificationStatus  %}
                                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style=""></span> Notification Enabled
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style=""></span> Notification Disabled
                                    {% endif %}
                                </li>
                                <li>
                                    {% if domain.autoRenew %}
                                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style=""></span> Auto Renew Enabled
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style=""></span> Auto Renew Disabled
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Issues <span class="badge">{{ domain.issues.count }}</span></h3>
                        </div>
                        <div class="panel-body">

                            <ul class="list-unstyled">
                                <li>
                                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                    Solved:
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                    In Progress:
                                </li>
                                <li>
                                    <a href="{{ url('add_domain_issue', {'domain': domain.id}) }}"
                                       class="btn btn-primary btn-xs">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        Add New</a>

                                    <a href="#"
                                       class="btn btn-info btn-xs">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                        View All</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

            <div class="center-block">
                {#<a href="#" class="btn btn-success" role="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Renew Domain</a>#}
                {% if not domain.autoRenew %}
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Renew Domain
                    </button>
                {% else %}
                    <button type="button" class="btn btn-success" data-toggle="" data-target="" disabled="disabled">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Renew Domain
                    </button>
                {% endif %}
                <a href="{{ url('edit_domain', {'id': domain.id}) }}" role="button" class="btn btn-warning"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Domain</a>
                <a href="{{ url('delete_domain', {'domain': domain.id}) }}" role="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Domain</a>
            </div>
        </div>
        <div class="col-md-4">
            <h1>Client Details <a href="{{ url('view_client', {'id': domain.client.id}) }}" class="btn btn-primary">View Client</a></h1>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    {{ client.name }}
                </li>
                <li class="list-group-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ client.email }}</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ client.phone }}</li>
            </ul>
            <hr>
            {% if domain.hosting is not null %}
                <h1>
                    Hosting Account
                    <a href="{{ url('view_hosting', {'hosting': domain.hosting.id}) }}" class="btn btn-primary">
                        View Host
                    </a>
                </h1>
                <ul class="list-group">
                    <li class="list-group-item"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        Hosting Renewal: {{ domain.hosting.renewalDate|date("Y/M/d") }}
                    </li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
                        {{ domain.hosting.package.space }} GB
                    </li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        Password
                    </li>
                </ul>
            {% else %}
                <h1>
                    No Hosting Assigned
                    <a href="{{ url('add_new_hosting') }}" class="btn btn-primary">Add Hosting Now</a>
                </h1>
            {% endif %}

        </div>
        <div class="col-md-1">
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Renew {{ domain.domain }}</h4>
                        </div>
                        <div class="modal-body">
                            {# Display Form to renew domain#}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_start(form) }}

                                    <div class="form-group">
                                        {{ form_label(form.period) }}
                                        {{ form_errors(form.period) }}
                                        {{ form_widget(form.period, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div>
                                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                                    </div>
                                    {{ form_end(form) }}

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
