{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-6">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                {% for domain in domains %}
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="heading-{{ domain.id }}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#domain-{{ domain.id }}" aria-expanded="true" aria-controls="domain-{{ domain.id }}">
                                {{ domain.domain }}
                            </a>
                        </h4>
                    </div>
                    <div id="domain-{{ domain.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{ domain.id }}">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Registrar</th>
                                            <th>Renewal Date</th>
                                            <th>Client</th>
                                            <th>CP URL</th>
                                            <th>CP Username</th>
                                            <th>CP Password</th>
                                            <th>Hosting Package</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ domain.registrar }}</td>
                                        <td>{{ domain.renewalDate|date("Y/M/d") }}</td>
                                        <td>{{ domain.client.name }}</td>
                                        <td><a href="{{ domain.cpUrl }}">CP</a></td>
                                        <td>{{ domain.cpUsername }}</td>
                                        <td>{{ domain.cpPassword }}</td>
                                        <td>{{ domain.hostingpackage }}</td>
                                        <td><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-4">
            <h1>Client Details</h1>
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ client.name }}</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ client.email }}</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ client.phone }}</li>
            </ul>
        </div>
        <div class="col-xs-2">

        </div>
    </div>


{% endblock %}
