{% extends 'base.html.twig' %}

{% block title %}View Client{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-7">
            <h1>Client Domains</h1>
            {% if domains is not empty %}
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                    {% for domain in domains %}
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="heading-{{ domain.id }}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#domain-{{ domain.id }}" aria-expanded="false" aria-controls="domain-{{ domain.id }}">
                                    {{ domain.domain }}
                                </a>
                            </h4>
                        </div>
                        <div id="domain-{{ domain.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ domain.id }}">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Registrar</th>
                                                <th>Renewal Date</th>
                                                <th>Hosting Package</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ domain.registrar }}</td>
                                            <td>{{ domain.renewalDate|date("Y/M/d") }}</td>
                                            <td>{{ domain.hostingpackage }}</td>
                                            <td><a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View Domain</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-info">
                    No domains found for this client!
                </div>
                <a href="#" class="btn btn-primary" role="button">Add domain now</a>
            {% endif %}
        </div>
        <div class="col-md-3">
            <h1>Client Details</h1>
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ client.name }}</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ client.email }}</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ client.phone }}</li>
            </ul>
        </div>
        <div class="col-md-2">

        </div>
    </div>


{% endblock %}
