{% extends 'base.html.twig' %}

{% block title %}View Websites{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-7">

            <h1>Website: {{ website.websiteName }}</h1>
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#dev-cred" aria-controls="dev-cred" role="tab" data-toggle="tab">Developer Credentials</a></li>
                    <li role="presentation" class=""><a href="#client-cred" aria-controls="client-cred" role="tab" data-toggle="tab">Client Credentials</a></li>
                    <li role="presentation" class=""><a href="#other-cred" aria-controls="other-cred" role="tab" data-toggle="tab">Other Credentials</a></li>
                    <li role="presentation"><a href="#Issues" aria-controls="Issues" role="tab" data-toggle="tab">Issues</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="dev-cred">

                        <h3>Developers Credentials</h3>
                        {% if credentials is not empty %}
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                                {% for cred in credentials %}
                                    {% if cred.scope == 'Developer' %}
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="heading-{{ cred.id }}">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#cred-{{ cred.id }}" aria-expanded="false" aria-controls="domain-{{ cred.id }}">
                                                        User: <strong>{{ cred.username }}</strong>
                                                        <span class="horizontal-separator">|</span>
                                                        <strong>{{ cred.environment }}</strong>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="cred-{{ cred.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ cred.id }}">
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>Environment</th>
                                                                <th>Login URL</th>
                                                                <th>Username</th>
                                                                <th>Email</th>
                                                                <th>Password</th>
                                                                <th>FTP Address</th>
                                                                <th>FTP Username</th>
                                                                <th>FTP Password</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>{{ cred.environment }}</td>
                                                                <td><a href="{{ cred.loginUrl }}" target="_blank">Click here</a></td>
                                                                <td>{{ cred.username }}</td>
                                                                <td>{{ cred.email }}</td>
                                                                <td>{{ cred.password }}</td>
                                                                <td>{{ cred.ftpIp }}</td>
                                                                <td>{{ cred.ftpUsername }}</td>
                                                                <td>{{ cred.ftpPassword }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="panel-footer">
                                                    <a href="{{ url('edit_website_credential', {'id': cred.id}) }}" class="btn btn-warning">
                                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                                    </a>

                                                    <a href="{{ url('delete_website_credential', {'credential': cred.id} ) }}" class="btn btn-danger">
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                No credentials for this website
                            </div>
                            <a href="{{ url('add_new_website_credential') }}" class="btn btn-primary" role="button">Add credentials now</a>
                        {% endif %}

                    </div>

                    <div role="tabpanel" class="tab-pane" id="client-cred">
                        <h3>Client Credentials</h3>
                        {% if credentials is not empty %}
                            <div class="panel-group" id="client-accordion" role="tablist" aria-multiselectable="false">
                                {% for cred in credentials %}
                                    {% if cred.scope == 'Client' %}
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="heading-{{ cred.id }}">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#client-accordion" href="#cred-{{ cred.id }}" aria-expanded="false" aria-controls="domain-{{ cred.id }}">
                                                        User: <strong>{{ cred.username }}</strong>
                                                        <span class="horizontal-separator">|</span>
                                                        <strong>{{ cred.environment }}</strong>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="cred-{{ cred.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ cred.id }}">
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>Environment</th>
                                                                <th>Login URL</th>
                                                                <th>Username</th>
                                                                <th>Email</th>
                                                                <th>Password</th>
                                                                <th>FTP Address</th>
                                                                <th>FTP Username</th>
                                                                <th>FTP Password</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>{{ cred.environment }}</td>
                                                                <td><a href="{{ cred.loginUrl }}" target="_blank">Click here</a></td>
                                                                <td>{{ cred.username }}</td>
                                                                <td>{{ cred.email }}</td>
                                                                <td>{{ cred.password }}</td>
                                                                <td>{{ cred.ftpIp }}</td>
                                                                <td>{{ cred.ftpUsername }}</td>
                                                                <td>{{ cred.ftpPassword }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="panel-footer">
                                                    <a href="{{ url('edit_website_credential', {'id': cred.id}) }}" class="btn btn-warning">
                                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                                    </a>

                                                    <a href="{{ url('delete_website_credential', {'credential': cred.id} ) }}" class="btn btn-danger">
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                No credentials for this website
                            </div>
                            <a href="{{ url('add_new_website_credential') }}" class="btn btn-primary" role="button">Add credentials now</a>
                        {% endif %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="other-cred">
                        <h3>Support & Dummy Credentials</h3>
                        {% if credentials is not empty %}
                            <div class="panel-group" id="other-accordion" role="tablist" aria-multiselectable="false">
                                {% for cred in credentials %}
                                    {% if cred.scope != 'Client' and cred.scope != 'Developer' %}
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="heading-{{ cred.id }}">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#other-accordion" href="#cred-{{ cred.id }}" aria-expanded="false" aria-controls="domain-{{ cred.id }}">
                                                        User: <strong>{{ cred.username }}</strong>
                                                        <span class="horizontal-separator">|</span>
                                                        <strong>{{ cred.scope }} Account</strong>
                                                        <span class="horizontal-separator">|</span>
                                                        <strong>{{ cred.environment }}</strong>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="cred-{{ cred.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ cred.id }}">
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>Environment</th>
                                                                <th>Login URL</th>
                                                                <th>Username</th>
                                                                <th>Email</th>
                                                                <th>Password</th>
                                                                <th>FTP Address</th>
                                                                <th>FTP Username</th>
                                                                <th>FTP Password</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>{{ cred.environment }}</td>
                                                                <td><a href="{{ cred.loginUrl }}" target="_blank">Click here</a></td>
                                                                <td>{{ cred.username }}</td>
                                                                <td>{{ cred.email }}</td>
                                                                <td>{{ cred.password }}</td>
                                                                <td>{{ cred.ftpIp }}</td>
                                                                <td>{{ cred.ftpUsername }}</td>
                                                                <td>{{ cred.ftpPassword }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="panel-footer">
                                                    <a href="{{ url('edit_website_credential', {'id': cred.id}) }}" class="btn btn-warning">
                                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                                                    </a>

                                                    <a href="{{ url('delete_website_credential', {'credential': cred.id} ) }}" class="btn btn-danger">
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                No credentials for this website
                            </div>
                            <a href="{{ url('add_new_website_credential') }}" class="btn btn-primary" role="button">Add credentials now</a>
                        {% endif %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="Issues">

                        <h3>
                            Issues <span class="badge">{{ website.issues.count }}</span>
                            <a href="{{ url('add_website_issue', {'website': website.id}) }}" class="btn btn-primary">
                                Add Issue
                            </a>
                        </h3>

                        {% if website.issues is empty %}
                            <div class="alert alert-info" role="alert">No issues for this website.</div>
                        {% else %}

                            {% set solved_count, onHold_count, open_count, closed_count = 0,0,0,0 %}

                            {% for issue in website.issues %}
                                {% if issue.status == 'Solved' %}
                                    {% set solved_count = solved_count + 1 %}
                                {% elseif issue.status == 'On Hold' %}
                                    {% set onHold_count = onHold_count + 1 %}
                                {% elseif issue.status == 'Closed'  %}
                                    {% set closed_count = closed_count + 1 %}
                                {% elseif issue.status == 'Open' %}
                                    {% set open_count = open_count + 1 %}
                                {% endif %}
                            {% endfor %}

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                    Website Issues
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-8">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                                Solved:

                                                <a href="{{ url('view_all_website_issues', {'website': website.id, 'filter': 'solved'}) }}" class="btn btn-success btn-xs" data-toggle="tooltip"
                                                   data-placement="top" title="Solved Issues">
                                                    <span class="">{{ solved_count }}</span>
                                                </a>


                                            </li>
                                            <li>
                                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                                In Progress:
                                                <a href="{{ url('view_all_website_issues', {'website': website.id, 'filter': 'open'}) }}" class="btn btn-danger btn-xs" data-toggle="tooltip"
                                                   data-placement="top" title="Open Issues">
                                                    <span class="">{{ open_count }}</span>
                                                </a>

                                                <a href="{{ url('view_all_website_issues', {'website': website.id, 'filter': 'on hold'}) }}" class="btn btn-warning btn-xs" data-toggle="tooltip"
                                                   data-placement="top" title="On Hold Issues">
                                                    <span class="">{{ onHold_count }}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                Closed:
                                                <a href="{{ url('view_all_website_issues', {'website': website.id, 'filter': 'closed'}) }}" class="btn btn-muted btn-xs" data-toggle="tooltip"
                                                   data-placement="top" title="Closed Issues">
                                                    <span class="">{{ closed_count }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">

                                        <a href="{{ url('view_all_website_issues', {'website': website.id}) }}"
                                           class="btn btn-info">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            View All</a>
                                    </div>
                                </div>
                            </div>

                        {% endif %}


                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">...</div>
                </div>

            </div>

        </div>

        {#  Changing the icon class depending on the state of the website  #}

        {% set website_status_icon = "glyphicon glyphicon-info-sign" %}
        {% set website_status_class = "" %}

        {% if website.status == 'Live' %}
            {% set website_status_icon = "glyphicon glyphicon-ok-sign" %}
            {% set website_status_class = "list-group-item-success" %}
        {% elseif website.status == 'Under Development' %}
            {% set website_status_icon = "glyphicon glyphicon-tasks" %}
            {% set website_status_class = "list-group-item-info" %}
        {% elseif website.status == 'Under Maintenance' %}
            {% set website_status_icon = "glyphicon glyphicon-wrench" %}
            {% set website_status_class = "list-group-item-warning" %}
        {% endif %}


        <div class="col-md-4">
            <h1>Website Details</h1>
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Name: {{ website.websiteName }}</li>
                <li class="list-group-item {{ website_status_class }}"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Status: {{ website.status }}
                    <span class="{{ website_status_icon }}" aria-hidden="true"></span>
                </li>
                <li class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Live URL:
                    <a href="{{ website.url }}" target="_blank">Click here</a>
                </li>
                <li class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Dev URL:
                    {% if website.developmentUrl is not empty %}
                        <a href="{{ website.developmentUrl }}" target="_blank">Click here</a>
                    {% endif %}
                </li>
                <li class="list-group-item"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Technology: {{ website.technology }}</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Client:
                    <a href="{{ url('view_client', {'id': website.client.id }) }}">{{ website.client.name }}</a>
                </li>
            </ul>
            <a href="{{ url('edit_website', {'id': website.id}) }}" class="btn btn-warning"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Website</a>
            <a href="{{ url('delete_website', {'website': website.id}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Website</a>
        </div>
        <div class="col-md-1">

        </div>
    </div>

{% endblock %}