{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.hosting, 'Hosting Account') }}
    {{ form_errors(form.hosting) }}
    {{ form_widget(form.hosting, {'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-group">
    {{ form_label(form.scope, 'Credential Scope') }}
    {{ form_errors(form.scope) }}
    {{ form_widget(form.scope, {'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-group">
    {{ form_label(form.url) }}
    {{ form_errors(form.url) }}
    {{ form_widget(form.url, {'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-group">
    {{ form_label(form.username) }}
    {{ form_errors(form.username) }}
    {{ form_widget(form.username, {'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-group">
    {{ form_label(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-group">
    {{ form_label(form.password) }}
    {{ form_errors(form.password) }}
    {{ form_widget(form.password, {'attr': {'class': 'form-control'} }) }}
</div>


<div class="">
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
</div>

{{ form_end(form) }}